* {
  margin: 0;
  padding: 0;
}

.vertical-text {
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-family: sans-serif;
  padding: 10px;
  color: white;
}

.vertical-text button {
  margin-top: 20px;
  cursor: pointer;
  background: rgb(63, 63, 63);
  border: 2px solid white;
  border-radius: 10px;
}

.ant-modal-root .chess-modal {
  top: 20%;
  border-radius: 10px;
}

.chess-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
}

.room-item {
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.room-item:hover {
  background-color: linen;
}

.room-item:active {
  background-color: khaki;
}

.room-item p {
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.tool-board {
  cursor: -webkit-grab;
  border-radius: 5px;
  height: 732px;
  background: #ffffff;
  padding: 5px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.ant-tabs-tabpane {
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
}
